.clear-sky {
  background-image: url('./assets/images/clear-sky.jpg');
  background-size: cover;
  background-position: center;
}

.few-clouds {
  background-image: url('./assets/images/few-clouds.jpg');
  background-size: cover;
  background-position: center;
}

.scattered-clouds {
  background-image: url('./assets/images/scattered-clouds.jpg');
  background-size: cover;
  background-position: center;
}

.broken-clouds {
  background-image: url('https://images.unsplash.com/photo-1495756111155-45cb19b8aeee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80');
}

.showering-rain {
  background-image: url('./assets/images/showering-rain.jpg');
  background-size: cover;
  background-position: center;
}

.heavy-rain {
  background-image: url('./assets/images/heavy-rain.jpg');
  background-size: cover;
  background-position: center;
}

.mist {
  background-image: url('./assets/images/mist.jpg');
  background-size: cover;
  background-position: center;
}

.fog {
  background-image: url('./assets/images/fog.jpg');
  background-size: cover;
  background-position: center;
}

.smoke {
  background-image: url('https://images.unsplash.com/photo-1576491742115-98d269485f16?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80');
}

.thunderstorm {
  background-image: url('./assets/images/thunderstorm.jpg');
  background-size: cover;
  background-position: center;
}

.tornado {
  background-image: url('./assets/images/tornado.jpg');
  background-size: cover;
  background-position: center;
}

.snowfall {
  background-image: url('./assets/images/snowfall.jpg');
  background-size: cover;
  background-position: center;
}